@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;600&display=swap');
* {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  color: #0A267D;
}

body {
    background: #FFFFFF;
}

.navbar {
    display: block;
    height: 60px;
    background-color: #FFFFFF;
    margin: -10px -10px 0px -10px;
    padding-bottom: 1.3rem;
    font-size: x-large;
    font-weight: bolder;
    color: #0A267D;
    justify-content: center;
    border-bottom: 1px solid rgba(75, 117, 250, 0.28);
}

.nav-content {
    display: flex;
    width: auto;
    /* box-shadow: 0px 4px 4px rgba(75, 117, 250, 0.13); */
}

.navbar .nav-content img {
    margin: 0px 10px 10px 40px;

}

.navbar .nav-content p {
    color: #0A267D;
    /* background-color: darkgoldenrod; */
    font-size: 1.6rem;
    font-weight: bolder;
    margin-top: 25px;
}

.container {
    display: flex;
    background-color: #FFFFFF;
    margin-left: -10px;

}

.menu {
    width: 500px;
    /* background-color: rgb(146, 146, 146); */
    border-right: 1px solid rgba(75, 117, 250, 0.28);

}

.search-bar {
    /* margin-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px; */
    padding: 1rem 1.5rem 0.5rem 1.5rem;
    display: flex;

}

.search-bar #search-bar {
    box-sizing: border-box;
    border-radius: 20px;
    width: 100%;
    margin-right: 10px;
    border: 1px solid #FAB348;
    color: #FAB348;
    font-size: 1rem;
}

.search-bar #search-bar::placeholder {
    color:#FAB348;
    outline: none;
    padding: 0.5rem 1rem;
}

.search-bar #search-bar:focus {
    border: 3px solid #FAB348;
    outline: none;
    padding: 0rem 1rem;
}

.search-bar #search-bar:focus::placeholder {
    padding: 0rem;
}

.search-bar .search-button {
    background-color: #FFFFFF;
    border: none;
    padding: 10px 0px 10px 0px;
}

.menu a {
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
}

.menu a:hover {
    background-color: #ddd;
}

.menu a.active {
    background-color:#FFF9F1;
    border: 1px solid #FAB348;
}

.plate {
    /* height: 100px; */
    display: block;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;


    /* border: 1px solid black; */
}

.plate:nth-child(even) {
    background: #F8FAFF;
  }


.plate-title {
    font-size: 1.1rem;
    font-weight: 600;
    /* color: #0A267D; */
}

.plate-description {
    font-size: 1.1rem;
    /* color: #0A267D; */
}


.main-plate {
    padding: 2rem 3rem 2rem 3rem;
    /* display: none; */
    /* background-color: rgb(221, 145, 132); */
    max-width: 1200px;
    -webkit-animation: fadeEffect 0.5s;
    animation: fadeEffect 0.5s;
}

/* .main-plate:target {
    outline: none;
    display: block;
} */

.main-header {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
}

.main-header-info {
    margin-right: 2.5rem;
}

.main-plate-name {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.stars {
    margin-bottom: 1.5rem;
}

.time-serves-address {
    display: block;
    
}


.time-serves-address p img {
    padding-right: 15px;
    /* padding-top: 10px; */
}




.main-plate .main-header .plate-image {
    height: 16rem;
    padding: 1rem;
    /* background-color:yellow; */
}

.main-other-info {
    margin-top: 2rem;
}


.main-other-info li {
    list-style-type: none;
    padding: 10px;
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }